.carousel {
    display: flex;
    gap: var(--scale-10);

    list-style: none;
    margin-block: 0;
    padding: 0 var(--scale-7) 0 0;

    position: relative;
    z-index: 1;

    overflow-x: auto;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.carousel::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.carousel__item {
    flex: 0 0 auto;
    width: clamp(10rem, 30vw, 30rem);

    position: relative;
    z-index: 1;

    display: block;
    overflow: hidden;
}

.carousel__item:first-child {
    margin-left: var(--scale-7);
}

.carousel__item img {
    display: block;
    object-fit: cover;
    object-position: center center;
    aspect-ratio: 3/4;
    width: 100%;
    height: auto;
    border-radius: var(--scale-9);
}

.carousel__title {
    font-size: var(--type-sm);
    --leading-lineheight: var(--type-sm);
}
