.carousel {
    display: flex;
    gap: var(--scale-8);

    list-style: none;
    margin-block: 0;
    padding: 0 var(--scale-7) 0 0;

    position: relative;
    z-index: 1;

    overflow-x: auto;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.carousel::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.carousel__item {
    flex: 0 0 auto;
    width: clamp(18rem, 75vw, 30rem);
    aspect-ratio: 3/4;

    position: relative;
    z-index: 1;

    background-color: rgb(var(--foreground) / var(--alpha-05));
    overflow: hidden;
    border-radius: var(--scale-5);
}

.carousel__item:first-child {
    margin-left: var(--scale-7);
}

.carousel__item img {
    object-fit: cover;
    object-position: center center;
    height: 100%;
    width: 100%;
}

.carousel__indicator {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;

    height: 3px;
    width: 10rem;
    background: rgb(var(--foreground) / var(--alpha-5));
}