.carousel {
    display: flex;
    gap: var(--scale-8);

    list-style: none;
    margin: 0;
    padding: 0;

    position: relative;

    overflow-x: auto;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.carousel::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.carousel__item {
    flex: 0 0 auto;
    width: clamp(10rem, 40vw, 20rem);
    aspect-ratio: 3/4;
    position: relative;
    background-color: rgb(var(--white) / var(--alpha-05));
    overflow: hidden;
    border-radius: var(--scale-5);
}

.carousel__item img {
    object-fit: cover;
    object-position: center center;
}

.carousel__indicator {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;

    height: 3px;
    width: 10rem;
    background: rgb(var(--white) / var(--alpha-5));
}