.header {
}

.header__wrapper {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;

    padding: var(--scale-7);
    display: flex;
    justify-content: space-between;

    mix-blend-mode: difference;
}

.header__logo {
    display: block;
    width: clamp(12rem, 35vw, 17.125rem);
    height: auto;
}

.header__button {
    --button-scale: clamp(var(--scale-4), 5vw, var(--scale-3));
    position: relative;
    z-index: 99;

    flex: 0 0 auto;
    align-self: center;

    cursor: pointer;

    height: var(--button-scale);
    width: var(--button-scale);

    transition: transform .25s ease-in-out;
    transform: rotate(0);
}

.header__button[data-active='true'] {
    transform: rotate(-45deg);
}

.header__button:before,
.header__button:after {
    content: '';
    display: block;
    z-index: 99;
    position: absolute;
    left: calc(50% - 1px);
    top: 0;
    width: 2px;
    height: var(--button-scale);
    background: rgb(var(--background));
}

.header__button:before {
    transform-origin: 50% 50%;
    transform: rotate(90deg);
}

.header__menuWrapper {
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    overflow: auto;

    height: 0;
    transition: height .5s ease, padding .5s ease;
    
    background: rgb(var(--black));
    color: rgb(var(--white));
}

.header__menuWrapper[data-active='true'] {
    height: 100vh;
    padding-top: var(--header-height);
}
