.lead {
    font-size: var(--type-lg);
    line-height: 1.15;

    font-weight: 300;
    color: rgb(var(--white) / var(--alpha-4));
    hanging-punctuation: first last;

    max-width: 25em;
}

.lead__strong {
    display: inline-block;
    margin-right: .25em;
    color: rgb(var(--white) / var(--alpha-9));
}
