.list {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.125;

    border-top: .01em solid rgb(var(--foreground) / var(--alpha-3))
}

.list__item {

}

.list__itemWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

    gap: var(--scale-6);
    margin-top: var(--type-xs);
    /* border-top: .01em solid rgb(var(--foreground) / var(--alpha-3)) */
}

.list__linkText {
    --leading-lineheight: var(--type-xxxs);
    font-family: var(--font-sans);
    font-size: var(--type-xs);
    line-height: var(--type-xxxs);
    font-weight: 300;
    color: rgb(var(--mono-8));
    text-transform: uppercase;
}

.list__itemTitle {
    flex: 1 1 50%;
    font-size: var(--type-sm);
    font-weight: var(--font-weight-normal);
}

.list__itemDescription {
    font-family: var(--font-source-serif);
}