.list {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.125;
}

.list__item {

}

.list__itemWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

    gap: var(--scale-6);
    padding-block: var(--type-xs);
    border-top: .025em solid rgb(var(--foreground) / var(--alpha-5))
}

.list__linkText {
    font-family: var(--font-inter);
    font-size: var(--type-xs);
    font-weight: 300;
    opacity: var(--alpha-8);
    text-transform: uppercase;
}

.list__itemTitle {
    flex: 1 1 50%;
    font-size: var(--type-sm);
    font-weight: var(--font-weight-normal);
}

.list__itemDescription {
    font-family: var(--font-source-serif);
}