.meta {
    font-size: var(--type-xs);
    display: grid;
    grid-auto-rows: max-content;
    gap: var(--scale-5) calc(var(--grid-unit) * 1.5) !important;
}

.meta__item {
    --leading-lineheight: 1em;

    display: flex;
    flex-direction: column;

    gap: var(--scale-8);
}