.meta {
    font-family: var(--font-inter);
    font-size: var(--type-xs);
    font-weight: 400;
    letter-spacing: -.015em;
    overflow: hidden;

    background: rgb(var(--black));
    color: rgb(var(--white));
    border-radius: var(--scale-10);
    padding: var(--scale-9) var(--scale-10);
    font-weight: 300;
}

.meta__container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--scale-9);

    margin-left: calc(0px - (.3em + var(--scale-9)));
}

.meta__item {
    --leading-lineheight: var(--type-xxs);
    display: flex;
    align-items: center;
    line-height: var(--type-xxs);
    gap: var(--scale-9);
    white-space: nowrap;
}

.meta__item * {
    --font-offset-start: 0;
}

.meta__item:before {
    content: '';
    display: inline-block;
    width: .25em;
    height: .25em;
    background: currentColor;
    border-radius: 50%;
}