.navigation {
    font-family: var(--font-inter);
}

.navigation menu {
    display: flex;
    flex-direction: column;
    gap: var(--scale-9);
    list-style: none;
    margin: 0;
    padding: 0;

    --leading-lineheight: var(--type-xs);
    font-size: var(--type-xs);
    font-weight: 375;
    line-height: var(--type-x);
}

.navigation .body-text {
    font-weight: var(--font-weight-bold);
}

.navigation a {
    display: block;
}

.navigation sup {
    /* Don't add <sup> height to parent */
    display: inline-block;
    margin-top: -4rem;

    font-size: .6em;
    font-weight: 400;
    opacity: var(--alpha-7);
}