.shadow-pan {
    position: relative;
    z-index: 2;
}

.shadow-pan__panner {
    display: block;
    content: '';
    position: absolute;
    z-index: 0;
    background: rgba(var(--white));
    border-radius: var(--scale-4);
    mix-blend-mode: difference;
    height: 100%;
}