.shadow-pan {
    z-index: 10;
    transform: translateZ(0);
}

.shadow-pan__wrapper {
    position: relative;
}

.shadow-pan__panner {
    display: block;
    content: '';
    position: absolute;
    z-index: 0;
    background: rgba(255 255 255 / .2);
    border-radius: var(--scale-4);
    /* mix-blend-mode: difference; */
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}