.toggle {
    font-family: var(--font-sans);
    --leading-lineheight: var(--type-xs);
    line-height: var(--type-xs);

    list-style: none;
    padding-left: 0;
    margin-block: 0;
}

.toggle__item {
    display: flex;
    align-items: baseline;
    gap: .125em;
    cursor: pointer;
}

.toggle__indicator {
    display: inline-block;
    vertical-align: baseline;
    line-height: inherit;
    /* font-size: var(--type-md); */
}