.toolbar {
    font-family: var(--font-inter);
    font-size: var(--scale-6);
    line-height: var(--scale-6);
    --leading-lineheight: var(--scale-6);

    position: fixed;
    z-index: 99;
    bottom: var(--scale-5);
    padding-inline: var(--scale-7);
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

    font-weight: 280;
    pointer-events: none;
}
.toolbar__cap {
    display: block;
    z-index: -1;
    content: '';
    height: auto;
    width: var(--scale-5);
    background: rgb(var(--black));
    flex-shrink: 0;

    pointer-events: all;
}

.toolbar__cap--left {
    border-top-left-radius: var(--scale-2);
    border-bottom-left-radius: var(--scale-2);
    margin-right: calc(0px - var(--scale-5) - 1px);
}

.toolbar__cap--right {
    border-top-right-radius: var(--scale-2);
    border-bottom-right-radius: var(--scale-2);
    margin-left: calc(0px - var(--scale-5) - 1px);
}

.toolbar__wrapper {
    position: relative;

    /* background: rgb(var(--black)); */
    color: rgb(var(--white));
    pointer-events: all;
}

.toolbar__background {
    position: absolute;
    content: '';
    z-index: -2;
    top: 0;
    left: var(--scale-5);
    width: calc(100% - var(--scale-5) - var(--scale-5));
    height: 100%;
    background: rgb(var(--black));
    transform: translateZ(0);
}

.toolbar__inner {
    display: flex;
    align-items: center;
}

.toolbar a {
    display: inline-block;
    padding: var(--scale-8) var(--scale-10);
}

.toolbar a:focus {
    outline: 0;
}

.toolbar a:focus-visible {
    text-decoration: underline;
}

a.toolbar__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--type-xxs);
    height: 100%;
    cursor: pointer;
}

a.toolbar__button svg {
    opacity: .5;
    height: 1em;
}

.toolbar__menu {
    display: flex;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0 var(--scale-8);
    white-space: nowrap;
    max-width: calc(100vw - var(--scale-5) - var(--scale-5));

    overflow-x: scroll;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  
}

.toolbar__menu::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.toolbar__menu li {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.toolbar__menu li {
    flex: 0 0 0;
    width: 0;
}

.toolbar__menu li[data-visible='true'] {
    flex: 0 0 auto;
    width: initial;
}