.toolbar {
    font-family: var(--font-inter);
    font-size: var(--scale-6);
    line-height: var(--scale-6);
    --leading-lineheight: var(--scale-6);

    position: fixed;
    z-index: 99;
    bottom: var(--scale-5);
    padding-inline: var(--scale-5);
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

    font-weight: 280;
    text-transform: uppercase;
    letter-spacing: .025em;

    pointer-events: none;
}
.toolbar__cap {
    display: block;
    content: '';
    height: auto;
    width: var(--scale-6);
    background: rgb(var(--black));
    flex-shrink: 0;

    pointer-events: all;
}
.toolbar__cap--left {
    border-top-left-radius: var(--scale-2);
    border-bottom-left-radius: var(--scale-2);

    margin-right: -.025em;
}

.toolbar__cap--right {
    border-top-right-radius: var(--scale-2);
    border-bottom-right-radius: var(--scale-2);

    margin-left: -.025em;
}

.toolbar__wrapper {
    overflow: hidden;
    background: rgb(var(--black));
    color: rgb(var(--white));
    mix-blend-mode: difference;
    /* border-radius: var(--scale-2); */
    pointer-events: all;
}

.toolbar__inner {
    display: flex;
    gap: var(--type-xxs);
    align-items: center;
}

.toolbar a {
    display: inline-block;
    padding: var(--scale-8) 0;
}

.toolbar a:focus {
    outline: 0;
}

.toolbar a:focus-visible {
    text-decoration: underline;
}

a.toolbar__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--type-xxs);
    height: 100%;
    cursor: pointer;
}

a.toolbar__button svg {
    opacity: .5;
    height: 1em;
}

.toolbar__menu {
    display: flex;
    gap: var(--type-xxs);
    list-style: none;
    overflow-x: scroll;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.toolbar__menu
.toolbar__menu li {
    margin: 0;
    padding: 0;
}