.toolbar {
    font-family: var(--font-sans);
    font-size: var(--scale-7);
    line-height: var(--scale-7);
    --leading-lineheight: var(--scale-7);

    position: fixed;
    z-index: 99;
    bottom: var(--scale-5);
    padding-inline: var(--scale-7);
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

    font-weight: 400;
    pointer-events: none;
}

.toolbar__cap {
    display: block;
    z-index: -1;
    content: '';
    height: auto;
    width: var(--scale-5);
    background: rgb(var(--black));
    flex-shrink: 0;

    pointer-events: all;
}

.toolbar__cap--left {
    border-top-left-radius: var(--scale-2);
    border-bottom-left-radius: var(--scale-2);
    margin-right: calc(0px - var(--scale-5) - 1px);
}

.toolbar__cap--right {
    border-top-right-radius: var(--scale-2);
    border-bottom-right-radius: var(--scale-2);
    margin-left: calc(0px - var(--scale-5) - 1px);
}

.toolbar__wrapper {
    position: relative;

    color: rgb(var(--white));
    pointer-events: all;
}

.toolbar__inner {
    display: flex;
    align-items: center;
    background: rgb(0 0 0 / .7);
    backdrop-filter: blur(5px);
    border-radius: var(--scale-4);
}

.toolbar__link {
    display: inline-block;
    padding: var(--scale-10);
    /* letter-spacing: -.02em; */
}

.toolbar a:focus {
    outline: 0;
}

.toolbar a:focus-visible {
    text-decoration: underline;
}

.toolbar__menu {
    display: flex;
    position: relative;
    list-style: none;
    margin: 0;
    padding: calc(var(--scale-10) / 2);
    white-space: nowrap;
    max-width: calc(100vw - var(--scale-5) - var(--scale-5));

    overflow-x: scroll;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
}

.toolbar__menu::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.toolbar__menu li {
    margin: 0;
    padding: 0;
    overflow: hidden;
}