/*
GRID X+Y
           1a       1b       2a       2b       3a       3b
       ┏━━━━━━━━┯━━━━━━━━┳━━━━━━━━┯━━━━━━━━┳━━━━━━━━┯━━━━━━━━┓
    1a ┃        │        ┃        │        ┃        │        ┃
       ┠────────┼────────╂────────┼────────╂────────┼────────┨
    1b ┃        │        ┃        │        ┃        │        ┃
       ┣━━━━━━━━┿━━━━━━━━╋━━━━━━━━┿━━━━━━━━╋━━━━━━━━┿━━━━━━━━┫
    2a ┃        │        ┃        │        ┃        │        ┃
       ┠────────┼────────╂────────┼────────╂────────┼────────┨
    2b ┃        │        ┃        │        ┃        │        ┃
       ┣━━━━━━━━┿━━━━━━━━╋━━━━━━━━┿━━━━━━━━╋━━━━━━━━┿━━━━━━━━┫
    3a ┃        │        ┃        │        ┃        │        ┃
       ┠────────┼────────╂────────┼────────╂────────┼────────┨
    3b ┃        │        ┃        │        ┃        │        ┃
       ┣━━━━━━━━┿━━━━━━━━╋━━━━━━━━┿━━━━━━━━╋━━━━━━━━┿━━━━━━━━┫
    4a ┃        │        ┃        │        ┃        │        ┃
       ┠────────┼────────╂────────┼────────╂────────┼────────┨
    4b ┃        │        ┃        │        ┃        │        ┃
       ┗━━━━━━━━┷━━━━━━━━┻━━━━━━━━┷━━━━━━━━┻━━━━━━━━┷━━━━━━━━┛
*/
@use "sass:list";

.grid {
    --grid-unit: var(--scale-4);
    --leading-lineheight: var(--grid-unit);

    display: grid;
    grid-template-columns: repeat(6, 1fr);

    grid-auto-rows: minmax(calc(var(--grid-unit) * 2), auto);
    gap: var(--grid-unit);
    
    line-height: var(--grid-unit);
    padding: var(--type-xxs);

    // background-image: linear-gradient(rgb(0 0 0 / .3) 0%, rgb(0 0 0 / .3) 2.5%, transparent 2.5%, transparent 50%, rgb(0 0 0 / .3) 50%, rgb(0 0 0 / .3) 52.5%, transparent 52.5%, transparent);
    // background-size: 100% var(--grid-unit);
    // background-position: 0 calc(0rem - var(--scale-8));
    // background-repeat: repeat;
}

.grid > * {
    --leading-lineheight: var(--grid-unit);
    line-height: var(--grid-unit);
}

$main-columns: 1, 2, 3;
$sub-columns:  1a, 1b, 2a, 2b, 3a, 3b;
$main-rows:    1, 2, 3, 4;
$sub-rows:     1a, 1b, 2a, 2b, 3a, 3b, 4a, 4b;

.grid[grid-enforce-rows="true"] {
    grid-auto-rows: calc(var(--grid-unit) * 2);
}

@media screen and (min-width: 50rem) {
    .grid {
        grid-auto-rows: minmax(calc(var(--grid-unit) * 3), auto);
    }

    .grid[grid-enforce-rows="true"] {
        grid-auto-rows: calc(var(--grid-unit) * 3);
    }

    // Grid coordinates:
    @each $main-column in $main-columns {
        $first-column: list.index($sub-columns, list.nth($sub-columns, $main-column * 2)) - 1;

        // Main columns
        .grid > *[grid-x='#{$main-column}'] {
            grid-column: #{$first-column} / #{$first-column + 2};
        }

        .grid > *[grid-x='#{$main-column}/#{$main-column + 1}'],
        .grid > *[grid-x='#{$main-column}+#{$main-column + 1}'] {
            grid-column: #{$first-column} / #{$first-column + 4};
        }

        .grid > *[grid-x='#{$main-column}+#{$main-column + 1}'] {
            display: grid;
            gap: var(--grid-unit);
            grid-template-columns: 1fr 1fr;
        }

        .grid > *[grid-x='#{$main-column}/#{$main-column + 2}'],
        .grid > *[grid-x='#{$main-column}+#{$main-column + 2}'] {
            grid-column: #{$first-column} / #{$first-column + 6};
        }

        .grid > *[grid-x='#{$main-column}+#{$main-column + 2}'] {
            display: grid;
            gap: var(--grid-unit);
            grid-template-columns: 1fr 1fr 1fr;
        }

        // Sub columns
        .grid > *[grid-x='#{$main-column}a'] {
            grid-column: #{$first-column};
        }

        .grid > *[grid-x='#{$main-column}b'] {
            grid-column: #{$first-column + 1};
        }

        @each $sub-column in $sub-columns {
            $second-column: list.index($sub-columns, $sub-column) + 1;
            .grid > *[grid-x='#{$main-column}a/#{$sub-column}'],
            .grid > *[grid-x='#{$main-column}a+#{$sub-column}'] {
                grid-column: #{$first-column} / $second-column;
            }
    
            .grid > *[grid-x='#{$main-column}b/#{$sub-column}'],
            .grid > *[grid-x='#{$main-column}b+#{$sub-column}'] {
                grid-column: #{$first-column + 1} / $second-column;
            }

            .grid > *[grid-x='#{$main-column}a+#{$sub-column}'],
            .grid > *[grid-x='#{$main-column}b+#{$sub-column}'] {
                display: grid;
                gap: var(--grid-unit);
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    @each $main-row in $main-rows {
        $first-row: list.index($sub-rows, list.nth($sub-rows, $main-row * 2)) - 1;

        // Main rows
        .grid > *[grid-y='#{$main-row}'] {
            grid-row: #{$first-row} / #{$first-row + 2};
        }

        .grid > *[grid-y='#{$main-row}/#{$main-row + 1}'],
        .grid > *[grid-y='#{$main-row}+#{$main-row + 1}'] {
            grid-row: #{$first-row} / #{$first-row + 4};
        }

        .grid > *[grid-y='#{$main-row}+#{$main-row + 1}'] {
            display: grid;
            gap: var(--grid-unit);
            grid-template-rows: 1fr 1fr;
        }

        .grid > *[grid-y='#{$main-row}/#{$main-row + 2}'],
        .grid > *[grid-y='#{$main-row}+#{$main-row + 2}'] {
            grid-row: #{$first-row} / #{$first-row + 6};
        }

        .grid > *[grid-y='#{$main-row}/#{$main-row + 3}'],
        .grid > *[grid-y='#{$main-row}+#{$main-row + 3}'] {
            grid-row: #{$first-row} / #{$first-row + 8};
        }

        .grid > *[grid-y='#{$main-row}+#{$main-row + 2}'] {
            display: grid;
            gap: var(--grid-unit);
            grid-template-rows: 1fr 1fr 1fr;
        }

        // Sub rows
        .grid > *[grid-y='#{$main-row}a'] {
            grid-row: #{$first-row};
        }

        .grid > *[grid-y='#{$main-row}b'] {
            grid-row: #{$first-row + 1};
        }

        @each $sub-row in $sub-rows {
            $second-row: list.index($sub-rows, $sub-row) + 1;
            .grid > *[grid-y='#{$main-row}/#{$sub-row}'],
            .grid > *[grid-y='#{$main-row}+#{$sub-row}'] {
                grid-row: #{$first-row} / $second-row;
            }

            .grid > *[grid-y='#{$main-row}a/#{$sub-row}'],
            .grid > *[grid-y='#{$main-row}a+#{$sub-row}'] {
                grid-row: #{$first-row} / $second-row;
            }

            .grid > *[grid-y='#{$main-row}b/#{$sub-row}'],
            .grid > *[grid-y='#{$main-row}b+#{$sub-row}'] {
                grid-row: #{$first-row + 1} / $second-row;
            }

            .grid > *[grid-y='#{$main-row}a+#{$sub-row}'],
            .grid > *[grid-y='#{$main-row}b+#{$sub-row}'] {
                display: grid;
                gap: var(--grid-unit);
                grid-template-rows: 1fr 1fr;
            }
        }
    } 
}

@media screen and (max-width: calc(50rem - 1px)) {
    // Grid coordinates:
    @each $main-column in $main-columns {
        $first-column: list.index($sub-columns, list.nth($sub-columns, $main-column * 2)) - 1;
        
        .grid > *:not([grid-x-sm]) {
            grid-column: 1/7;
        }

        // Main columns
        .grid > *[grid-x-sm='#{$main-column}'] {
            grid-column: #{$first-column} / #{$first-column + 2};
        }

        .grid > *[grid-x-sm='#{$main-column}/#{$main-column + 1}'],
        .grid > *[grid-x-sm='#{$main-column}+#{$main-column + 1}'] {
            grid-column: #{$first-column} / #{$first-column + 4};
        }

        .grid > *[grid-x-sm='#{$main-column}+#{$main-column + 1}'] {
            display: grid;
            gap: var(--grid-unit);
            grid-template-columns: 1fr 1fr;
        }

        .grid > *[grid-x-sm='#{$main-column}/#{$main-column + 2}'],
        .grid > *[grid-x-sm='#{$main-column}+#{$main-column + 2}'] {
            grid-column: #{$first-column} / #{$first-column + 6};
        }

        .grid > *[grid-x-sm='#{$main-column}+#{$main-column + 2}'] {
            display: grid;
            gap: var(--grid-unit);
            grid-template-columns: 1fr 1fr 1fr;
        }

        // Sub columns
        .grid > *[grid-x-sm='#{$main-column}a'] {
            grid-column: #{$first-column};
        }

        .grid > *[grid-x-sm='#{$main-column}b'] {
            grid-column: #{$first-column + 1};
        }

        @each $sub-column in $sub-columns {
            $second-column: list.index($sub-columns, $sub-column) + 1;
            .grid > *[grid-x-sm='#{$main-column}a/#{$sub-column}'],
            .grid > *[grid-x-sm='#{$main-column}a+#{$sub-column}'] {
                grid-column: #{$first-column} / $second-column;
            }
    
            .grid > *[grid-x-sm='#{$main-column}b/#{$sub-column}'],
            .grid > *[grid-x-sm='#{$main-column}b+#{$sub-column}'] {
                grid-column: #{$first-column + 1} / $second-column;
            }

            .grid > *[grid-x-sm='#{$main-column}a+#{$sub-column}'],
            .grid > *[grid-x-sm='#{$main-column}b+#{$sub-column}'] {
                display: grid;
                gap: var(--grid-unit);
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    @each $main-row in $main-rows {
        $first-row: list.index($sub-rows, list.nth($sub-rows, $main-row * 2)) - 1;

        // Main rows
        .grid > *[grid-y-sm='#{$main-row}'] {
            grid-row: #{$first-row} / #{$first-row + 2};
        }

        .grid > *[grid-y-sm='#{$main-row}/#{$main-row + 1}'],
        .grid > *[grid-y-sm='#{$main-row}+#{$main-row + 1}'] {
            grid-row: #{$first-row} / #{$first-row + 4};
        }

        .grid > *[grid-y-sm='#{$main-row}+#{$main-row + 1}'] {
            display: grid;
            gap: var(--grid-unit);
            grid-template-rows: 1fr 1fr;
        }

        .grid > *[grid-y-sm='#{$main-row}/#{$main-row + 2}'],
        .grid > *[grid-y-sm='#{$main-row}+#{$main-row + 2}'] {
            grid-row: #{$first-row} / #{$first-row + 6};
        }

        .grid > *[grid-y-sm='#{$main-row}/#{$main-row + 3}'],
        .grid > *[grid-y-sm='#{$main-row}+#{$main-row + 3}'] {
            grid-row: #{$first-row} / #{$first-row + 8};
        }

        .grid > *[grid-y-sm='#{$main-row}+#{$main-row + 2}'] {
            display: grid;
            gap: var(--grid-unit);
            grid-template-rows: 1fr 1fr 1fr;
        }

        // Sub rows
        .grid > *[grid-y-sm='#{$main-row}a'] {
            grid-row: #{$first-row};
        }

        .grid > *[grid-y-sm='#{$main-row}b'] {
            grid-row: #{$first-row + 1};
        }

        @each $sub-row in $sub-rows {
            $second-row: list.index($sub-rows, $sub-row) + 1;
            .grid > *[grid-y-sm='#{$main-row}/#{$sub-row}'],
            .grid > *[grid-y-sm='#{$main-row}+#{$sub-row}'] {
                grid-row: #{$first-row} / $second-row;
            }

            .grid > *[grid-y-sm='#{$main-row}a/#{$sub-row}'],
            .grid > *[grid-y-sm='#{$main-row}a+#{$sub-row}'] {
                grid-row: #{$first-row} / $second-row;
            }

            .grid > *[grid-y-sm='#{$main-row}b/#{$sub-row}'],
            .grid > *[grid-y-sm='#{$main-row}b+#{$sub-row}'] {
                grid-row: #{$first-row + 1} / $second-row;
            }

            .grid > *[grid-y-sm='#{$main-row}a+#{$sub-row}'],
            .grid > *[grid-y-sm='#{$main-row}b+#{$sub-row}'] {
                display: grid;
                gap: var(--grid-unit);
                grid-template-rows: 1fr 1fr;
            }
        }
    } 
}


.grid > *[grid-align] {
    display: flex;
    flex-direction: column;
}

.grid > *[grid-align='bottom'] {
    justify-content: flex-end;
}
