.playground[data-background='sunflower'] {
    background: rgb(var(--sunflower));
}

.playground[data-background='forest'] {
    background: rgb(var(--forest));
    color: rgb(var(--white));
}

.playground[data-background='black'] {
    background: rgb(var(--black));
    color: rgb(var(--white) / var(--alpha-8));
    letter-spacing: .005em;
}

.playground h1 {
    font-family: var(--font-sans);
    text-transform: uppercase;
    font-size: var(--type-xs);
    letter-spacing: .125em;
    color: rgb(var(--mono-6));
}