:root {
    /* Colors, warm tint */
    --black: 18 18 17;
    --white: 247 245 242;
    /* --white: 255 255 255; */
    --sunflower: 218 151 19;
    --forest: 60 77  25;

    --red: 226 68 32;

    --foreground: var(--black);
    --background: var(--white);

    --alpha-05: .05;
    --alpha-1: .1;
    --alpha-2: .2;
    --alpha-3: .3;
    --alpha-4: .4;
    --alpha-5: .5;
    --alpha-6: .6;
    --alpha-7: .7;
    --alpha-8: .8;
    --alpha-9: .9;

    /* Scale, augmented fourth */
    --scale-1: 5.653rem;
    --scale-2: 3.998rem;
    --scale-3: 2.827rem;
    --scale-4: 1.999rem;
    --scale-5: 1.414rem;
    --scale-6: 1rem;
    --scale-7: 0.707rem;
    --scale-8: 0.5rem;
    --scale-9: 0.354rem;
    --scale-10: 0.25rem;

    /* Scale, major third */
    --scale-1: 3.052rem;
    --scale-2: 2.441rem;
    --scale-3: 1.953rem;
    --scale-4: 1.563rem;
    --scale-5: 1.25rem;
    --scale-6: 1rem;
    --scale-7: 0.8rem;
    --scale-8: 0.64rem;
    --scale-9: 0.512rem;
    --scale-10: 0.41rem;

    /* Scale, perfect fourth */
    --scale-1: 4.209rem;
    --scale-2: 3.157rem;
    --scale-3: 2.3693rem;
    --scale-4: 1.777rem;
    --scale-5: 1.333rem;
    --scale-6: 1rem;
    --scale-7: 0.75rem;
    --scale-8: 0.563rem;
    --scale-9: 0.422rem;
    --scale-10: 0.317rem;

    /* Scale, major second */
    /* --scale-1: 1.802rem;
    --scale-2: 1.602rem;
    --scale-3: 1.424rem;
    --scale-4: 1.266rem;
    --scale-5: 1.125rem;
    --scale-6: 1rem;
    --scale-7: 0.889rem;
    --scale-8: 0.79rem;
    --scale-9: 0.702rem;
    --scale-10: 0.624rem; */

    /* Responsive font-sizes: min, base, max */
    --type-xxl: clamp(var(--scale-2), 9vw, var(--scale-1));
    --type-xl: clamp(var(--scale-3), 8vw, var(--scale-2));
    --type-lg: clamp(var(--scale-4), 7vw, var(--scale-3));
    --type-md: clamp(var(--scale-5), 6vw, var(--scale-4));
    --type-sm: clamp(var(--scale-6), 5vw, var(--scale-5));
    --type-xs: clamp(var(--scale-7), 4vw, var(--scale-6));
    --type-xxs: clamp(var(--scale-8), 3vw, var(--scale-7));
    --type-xxxs: clamp(var(--scale-9), 2vw, var(--scale-8));

    --font-weight-normal: 300;
    --font-weight-bold: 475;

    --leading-lineheight: var(--scale-6);

    --logo-height: var(--type-md);
    --header-height: calc(var(--logo-height) + var(--scale-7) + var(--scale-7));
}

html,
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    color: rgb(var(--foreground));
    background: rgb(var(--background));
    font-size: 18px;
    font-weight: var(--font-weight-normal);
}

main {
    /* font-family: var(--font-inter); */
    font-family: var(--font-serif), 'Times', serif;
    padding-bottom: var(--scale-1);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

h1, h2, h3, h4, h5, .lead {
    --leading-lineheight: var(--type-md);
    font-size: var(--type-md);
    margin-top: 0;
    margin-bottom: var(--type-md);

    font-weight: var(--font-weight-normal);
}

.page-title {
    display: flex;
    justify-content: space-between;
}

.page-title h1,
.page-title h2,
.page-title h3 {
    font-size: var(--type-lg);
    line-height: var(--type-lg);
    margin: 0;
    letter-spacing: -.025em;
}

p {
    margin: 0;
}
/* 
p + p, h1 + p, h2 + p, h3 + p, h4 + p, h5 + p {
    margin-top: 1.3em;
} */

figure {
    margin: 0;
}

figcaption {
    font-size: var(--type-sm);
}

.container {
    padding: 0 var(--scale-7);
}

.body-text p {
    text-indent: 3ch;
    --leading-lineheight: var(--scale-5);
    line-height: var(--scale-5);

    margin-bottom: var(--scale-4);
}

.serif {
    font-family: 'Lector FSL', 'Times', serif;
}

.uppercase {
    text-transform: uppercase;
    letter-spacing: -.015em;
}

/* Utilities */
.bleed-top,
*[bleed='top'] {
    margin-top: calc(0rem - var(--type-xxs));
}

.bleed-right,
*[bleed='right'] {
    margin-right: calc(0rem - var(--type-xxs));
    width: calc(100% + var(--type-xxs));
}

.bleed-bottom,
*[bleed='bottom'] {
    margin-bottom: calc(0rem - var(--type-xxs));
}

.bleed-left,
*[bleed='left'] {
    margin-left: calc(0rem - var(--type-xxs));
    width: calc(100% + var(--type-xxs));
}

.bleed-inline,
*[bleed='inline'] {
    margin-left: calc(0rem - var(--type-xxs));
    margin-right: calc(0rem - var(--type-xxs));
    width: calc(100% + var(--type-xxs) + var(--type-xxs));
}

.bleed-block,
*[bleed='block'] {
    margin-top: calc(0rem - var(--type-xxs));
    margin-bottom: calc(0rem - var(--type-xxs));
}

/*
 Trim leading

 {
    "familyName": "Inter",
    "subfamilyName": "Regular",
    "capHeight": 2048,
    "ascent": 2728,
    "descent": -680,
    "lineGap": 0,
    "unitsPerEm": 2816,
    "xHeight": 1536
},
{
    "familyName": "Source Serif Pro",
    "subfamilyName": "Regular",
    "capHeight": 670,
    "ascent": 918,
    "descent": -335,
    "lineGap": 0,
    "unitsPerEm": 1000,
    "xHeight": 475
}

*/
.trim-start,
.trim-end,
.trim-both {
    /* rotcel metrics*/
    --ascent: 895;
    --descent: -350;
    --unitsPerEm: 1000;
    --capHeight: 760;

    --foo: calc((var(--ascent) - var(--descent) - var(--unitsPerEm)) / 2);

    --offsetStart: calc(1em * ((var(--ascent) - var(--capHeight) - var(--foo)) / var(--unitsPerEm)));
    --offsetEnd: calc(1em * ((var(--foo) + var(--descent)) / var(--unitsPerEm)));

    --leading-offset: calc((var(--leading-lineheight, 1em) - 1em) / -2);
    --font-offset-start: var(--offsetStart);
    --font-offset-end: var(--offsetEnd);

    line-height: var(--leading-lineheight, 1em);
    padding: 0.1px;
}

.trim-start--secondary,
.trim-end--secondary,
.trim-both--secondary {
    /* Source serif 4 font metrics */
    /* --ascent: 1018;
    --descent: -335;
    --unitsPerEm: 1000;
    --capHeight: 670; */

    /* Times metrics */
    /* --ascent: 1825;
    --descent: -443;
    --unitsPerEm: 2048;
    --capHeight: 1356; */

    /* Inter font metrics */
    --ascent: 2728;
    --descent: -680;
    --unitsPerEm: 2816;
    --capHeight: 2048;
}

.trim-start:before,
.trim-both:before {
    content: '';
    display: block;

    margin-top: calc(var(--leading-offset,-.25em) + var(--font-offset-start,0em));
}

.trim-end:after,
.trim-both:after {
    content: '';
    display: block;

    margin-bottom: calc(var(--leading-offset,-.25em) + var(--font-offset-end,0em));
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

table {
    width: 100%;
    font-family: var(--font-inter);
    font-size: var(--type-xxs);
    border-collapse: collapse;
    border-color: rgb(var(--foreground) / var(--alpha-4));
    font-weight: var(--font-weight-normal);
    line-height: var(--type-xs);
    margin-top: var(--type-sm);
}

th {
    text-align: left;
    font-weight: var(--font-weight-bold);
}

tfoot th {
    border-top: .025em solid rgb(var(--foreground) / var(--alpha-7));
    text-transform: uppercase;
}

thead th {
    border-bottom: .025em solid rgb(var(--foreground) / var(--alpha-7));
}

td {
    height: var(--type-sm);
}

td[data-active='true'] {
    background: rgb(var(--sunflower));
}