:root {
    /* Colors, warm tint */
    --black: 18 18 17;
    --white: 239 236 228;

    --alpha-05: .05;
    --alpha-1: .1;
    --alpha-2: .2;
    --alpha-3: .3;
    --alpha-4: .4;
    --alpha-5: .5;
    --alpha-6: .6;
    --alpha-7: .7;
    --alpha-8: .8;
    --alpha-9: .9;

    /* Scale, augmented fourth */
    --scale-1: 5.653rem;
    --scale-2: 3.998rem;
    --scale-3: 2.827rem;
    --scale-4: 1.999rem;
    --scale-5: 1.414rem;
    --scale-6: 1rem;
    --scale-7: 0.707rem;
    --scale-8: 0.5rem;
    --scale-9: 0.354rem;
    --scale-10: 0.25rem;

    /* Responsive font-sizes: min, base, max */
    --type-xxl: clamp(var(--scale-2), 9vw, var(--scale-1));
    --type-xl: clamp(var(--scale-3), 7vw, var(--scale-2));
    --type-lg: clamp(var(--scale-5), 7vw, var(--scale-3));
    --type-md: clamp(var(--scale-5), 4.5vw, var(--scale-4));
    --type-sm: clamp(var(--scale-6), 3.75vw, var(--scale-5));
    --type-xs: clamp(var(--scale-7), 3vw, var(--scale-6));
    --type-xxs: clamp(var(--scale-8), 2.75vw, var(--scale-7));
}

html,
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: rgb(var(--white));
        background: rgb(var(--black));
    } 
}

h1, h2, h3, h4, h5 {
    margin-block: 0;
    font-weight: 500;
}

p:not(:last-child) {
    margin-block: var(--scale-4);
}

p:last-child {
    margin-bottom: 0;
}

.container {
    padding: 0 var(--scale-7);
}

.bleed-left {
    margin-left: calc(0rem - var(--scale-7));
    width: calc(100% + var(--scale-7));
}

.bleed-right {
    margin-right: calc(0rem - var(--scale-7));
    width: calc(100% + var(--scale-7));
}

.bleed-both {
    margin-left: calc(0rem - var(--scale-7));
    margin-right: calc(0rem - var(--scale-7));
    width: calc(100% + var(--scale-7) + var(--scale-7));
}
