.container {
    padding: var(--scale-7);
}

.image {
    border-radius: var(--scale-5);
    aspect-ratio: 2.35/1;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;
}

.title {
    font-size: 5rem;
    font-size: var(--type-xxl);

    line-height: .95;
    font-weight: 225;
    letter-spacing: -.0325em;
    color: rgb(var(--white) / var(--alpha-9));

    max-width: 12em;
    margin: var(--scale-5) 0 var(--scale-3);
}

.lead {
    font-size: var(--type-lg);
    line-height: 1.1;

    font-weight: 300;
    color: rgb(var(--white) / var(--alpha-4));
    hanging-punctuation: first last;

    max-width: 25em;
}

.lead span {
    color: rgb(var(--white) / var(--alpha-9));
}
