.container {
    padding: var(--scale-7);
}

.image {
    border-radius: var(--scale-5);
    aspect-ratio: 2.35/1;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;
}

.title {
  font-weight: 300;
  font-size: 5rem;
  margin: 0;
}

.lead {
    font-size: clamp(var(--scale-4), 7vw, var(--scale-3));
    line-height: 1.2;

    font-weight: 300;
    color: rgb(var(--white) / var(--alpha-4));
    hanging-punctuation: first last;

    max-width: 25em;
}

.lead span {
    color: rgb(var(--white) / var(--alpha-8));
}
